*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    height: 150vh;
    font-family: "Nunito",sans-serif;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
  }
  .icon{
    font-size: 10px;
  }
  .two{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input{
    text-align: center;
    margin: 100px auto;
  }
  
  input[type="submit"]{
    padding: 15px 11px;
    border: none;
    border-radius: 25px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 18px;
    height: 45px;
width: 89px;
border-radius: 25px;
  }
  
  .input input[type="text"]{
    width: 336px;
    height: 47px;
    padding: 5px 10px;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
    border-radius: 25px;
  }
  
  .card{
    width: 50%;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
    
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 5px 0;
    text-align: center;
    text-align: center;
    margin: 40px auto;
    font-size: 20px;
    color: #FFF;
    font-size: 40px;
    font-weight: 900;  
}
  
  .temp {
    text-align: center;
    margin: 40px auto;
    font-size: 20px;
    padding: 54px 20px;
    width: max-content;
    height: 201px;
    color: #FFF;
    font-size: 44px;
    font-weight: 900;
    border-radius: 20px;
  }
  #feels {
    text-align: center;
    margin: -98px auto;
    
    color: #FFF;
    font-size: 35px;
    font-weight: 900;
    
  }
  .desc
  {
    text-align: center;
    margin: 71px auto;
    font-size: 20px;
    color: #FFF;
    font-size: 40px;
    font-weight: 900;
    
  }